@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;400&display=swap');

* {
    margin: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: Barlow, sans-serif;
    font-weight: 100;
    color: #984416;
}

body h1 {
    text-transform: uppercase;
}

h2 {
    text-transform: uppercase;
}

/* Nav bar & logo */

header a {
    text-decoration: none;
    color: #984416;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    color: #984416;
    margin-top: 10px;
}

#menu li {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

#menu a {
    text-decoration: none;
    color: #984416;
}

#menu a:hover {
    border-bottom: 1px dotted #984416;
}

ul {
    padding-inline-start: inherit;
}

ol {
    list-style-type: none;
    padding: inherit;
}

/* Hero Image */

#hero-image {
    height: 300px;
    width: 100%;
    background: url('../images/suggested-walks-hero-tiny.png') no-repeat center center;
}

/* About Section */

#about {
    display: flex;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 10px;
    text-decoration: underline;
}

.about-section {
    display: flex;
    justify-content: center;
    font-size: medium;
    text-align: center;
    margin-left: 60px;
    margin-right: 60px;
}

#about-image {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

/*  Suggested walks boxes homepage */

.suggested-walk-heading {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
    text-decoration: underline;

}

.suggested-walks-home {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    flex-wrap: wrap;
}

.suggested-walks-box {
    height: 100px;
    width: 100px;
    border-radius: 30px;
    background-color: #984416;
    padding: 10px 10px 10px 10px;
    text-align: center;
    clear: both;
    justify-content: center;
    align-items: center;
}

.suggested-walks-highland {
    background: url('../images/highlands-button.png');
}

.suggested-walks-trossachs {
    background: url('../images/trossachs-button.png');
}

.suggested-walks-borders {
    background: url('../images/borders-button.png');
}

.suggested-walks-cairngorms {
    background: url('../images/cairngorms-button.png');
}

.center-box {
    display: flex;
    justify-content: center;
}

#highlands-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 10px
}

.suggested-walks-box:hover {
    background-color: white;
    border: solid #984416;
}


#trossachs-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 10px;
}

#borders-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 10px;
}

#cairngorms-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 10px;
}

/* What to Pack Homepage */

#wild-camping-home {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    margin: 20px;
}

#day-trip-home {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

#wild-camp-img {
    display: block;
    height: 300px;
    width: 300px;
    border-radius: 100%;
    padding: 10px 10px 10px 10px;
    clear: both;
    background: url('../images/what-to-pack-wild.png');
}

#wild-camp-img:hover {
    background-color: white;
    border: solid #984416;

}

#day-trip-img {
    display: inline-block;
    height: 300px;
    width: 300px;
    border-radius: 100%;
    padding: 10px 10px 10px 10px;
    clear: both;
    background: url('../images/what-to-pack-day.png');
}

#day-trip-img:hover {
    background-color: white;
    border: solid #984416;

}

.packing {
    width: 100%;
    display: flex;
    padding: 0px 50px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.packing-circles {
    display: flex;
    flex-direction: row;
    width: 43%;
    align-items: center;
    min-width: 300px;
}

#wild-camp-heading {
    margin: 20px;
    text-align: center;
}

#day-trip-heading {
    margin: 20px;
    text-align: center;
}

/*  Suggested Walks Page */

#hero-image-walks {
    height: 300px;
    width: 100%;
    background: url('../images/suggested-walks-hero-tiny.png') no-repeat center center;
}

.walk-about-section {
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 20px;
    text-align: center;
}

.button {
    border-radius: 30px;
    background-color: #eeb18f;
    padding: 10px 10px 10px 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: auto;
}

.button a {
    color: #984416;
    text-decoration: none;
}

.button:hover {
    background-color: white;
    color: #984416;
}

#walk-about-section h3 {
    text-transform: uppercase;
}

.walk-headings {
    font-weight: 700;
    font-size: x-large;
    text-decoration: underline;
}

.back-to-top-button a {
    font-weight: 700;
    font-size: small;
    text-decoration: dotted;
    color: #984416;
}

/*  What to pack page */

#hero-image-pack {
    height: 300px;
    width: 100%;
    background: url('../images/suggested-walks-hero-tiny.png') no-repeat center center;
}

.checklist {
    display: flex;
    flex-direction: column;
}

#backpack {
    float: left;
}

.reset {
    border-radius: 30px;
    background-color: #eeb18f;
    padding: 10px 10px 10px 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: auto;
}

.reset:hover {
    background-color: #ffff;
    color: #984416;
}

label {
    display: block;
}

input[type='checkbox'] {
    accent-color: #984416;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    transform: scale(1.5);
}

.pack-body-section {
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 20px;
    text-align: center;
}

.packing-checklist {
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 20px;
}

.top-5-button {
    border-radius: 30px;
    background-color: #eeb18f;
    padding: 10px 10px 10px 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: auto;
}

.top-5-button a {
    color: #984416;
    text-decoration: none;
}

.top-5-button:hover {
    background-color: white;
    border: solid #984416;
}

/* form */

.question {
    color: #984416;
    width: 30%;
    height: 25px;
    border: 1px solid #984416;
    border-radius: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.signup-form {
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 20px;
    text-align: center;
}

#wc {
    color: #984416;
    margin-top: 5px;
    margin-bottom: 5px;
}

#area {
    color: #984416;
    margin-top: 5px;
    margin-bottom: 5px;
}

#submit {
    margin-top: 5px;
    margin-bottom: 10px;
}

/*  thank you page */

#thank-you {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

/* footer */

.social {
    background-color: #c4581d;
    width: 100%;
    height: 30px;
    padding: 5px;
    text-align: center;
    bottom: 0;
}

#twitter {
    list-style-type: none;
    padding-right: 10px;
    color: white;
}

#instagram {
    list-style-type: none;
    padding-right: 10px;
    color: white;
}

#linkedin {
    list-style-type: none;
    padding-right: 10px;
    color: white;
}

#footer-list {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.icon {
    color: white;
}

/* Media Queries */

@media screen and (max-width: 600px) {
    .packing-circles {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
}