@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200&display=swap');

* {
    margin: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: Barlow, sans-serif;
    font-weight: 100;
    color: #c4581d;
}

body h1 {
    text-transform: uppercase;
}

h2 {
    text-transform: uppercase;
}

/* Nav bar & logo */

header a {
    text-decoration: none;
    color: #c4581d;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    text-decoration: none;
    color: #c4581d;
}

#menu li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    flex-direction: row;
    padding-bottom: 10px;
}

#menu a {
    text-decoration: none;
    color: #c4581d;
}

#menu a:hover {
    border-bottom: 1px dotted #c4581d;
}

/* Hero Image */

#hero-image {
    height: 300px;
    width: 100%;
    background: url('../images/suggested-walks-hero-tiny.png') no-repeat center center;
}

/*  Suggested walks boxes homepage */

#suggested-walk-heading {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;

}

#suggested-walks-home {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    flex-wrap: wrap;
}

.suggested-walks-box {
    height: 100px;
    width: 100px;
    border-radius: 30px;
    background-color: #c4581d;
    padding: 10px 10px 10px 10px;
    text-align: center;
    clear: both;
    justify-content: center;
    align-items: center;
}

.suggested-walks-box,
.suggested-walks-highland {
    background: url('../images/highlands-button.png');
}

.center-box {
    display: flex;
    justify-content: center;
}

#highlands-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 10px
}

#highland-link:hover {
    color: pink;
    border: dotted green;
}


#trossachs-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 10px;
}

#borders-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 10px;
}

#cairngorms-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 10px;
}

/* About Section */

#about {
    display: flex;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
}

.about-section {
    display: flex;
    justify-content: center;
    font-size: medium;
    text-align: center;
    margin-left: 60px;
    margin-right: 60px;
}

#about-image {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

/* What to Pack Homepage */

#wild-camping-home {
    display: flex;
    justify-content: flex-start;
    text-transform: uppercase;
    margin: 20px 20px 20px 60px;
}

#day-trip-home {
    display: flex;
    justify-content: flex-end;
    text-transform: uppercase;
    margin: 20px 60px 20px 20px;
}

#wild-camp-img {
    display: block;
    height: 300px;
    width: 300px;
    border-radius: 100%;
    padding: 10px 10px 10px 10px;
    clear: both;
    background: url('../images/what-to-pack-wild.png');
}

#day-trip-img {
    display: inline-block;
    height: 300px;
    width: 300px;
    border-radius: 100%;
    padding: 10px 10px 10px 10px;
    clear: both;
    background: url('../images/what-to-pack-day.png');
}

#packing {
    width: 100%;
    display: flex;
    padding: 40px 50px;
}

.packing-circles {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
}

#wild-camp-heading {
    margin: 20px;
    text-align: center;
}

#day-trip-heading {
    margin: 20px;
    text-align: center;
}

/*  Suggested Walks Page */

#hero-image-walks {
    height: 300px;
    width: 100%;
    background: url('../images/suggested-walks-hero-tiny.png') no-repeat center center;
}

#walk-about-section {
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 20px;
    text-align: center;
}

.walking-button {
    border-radius: 30px;
    background-color: #eeb18f;
    padding: 10px 10px 10px 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: auto;
}

.walking-button a {
    color: white;
    text-decoration: none;
}

#walk-about-section h3 {
    text-transform: uppercase;
}

.walk-headings {
    font-weight: 700;
    font-size: x-large;
    text-decoration: underline;
}

.back-to-top-button a {
    font-weight: 700;
    font-size: small;
    text-decoration: dotted;
    color: #eeb18f;
}

/*  What to pack page */

#hero-image-pack {
    height: 300px;
    width: 100%;
    background: url('../images/suggested-walks-hero-tiny.png') no-repeat center center;
}

.checklist {
    display: flex;
    flex-direction: column;
}

.reset {
    border-radius: 30px;
    background-color: #eeb18f;
    padding: 10px 10px 10px 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: auto;
}

.reset:hover {
    background-color: #ffff;
    color: #c4581d;
}

input[type='checkbox'] {
    accent-color: #c4581d;
}

.pack-body-section {
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 20px;
}

/* form */

.question {
    color: #c4581d;
    width: 30%;
    height: 25px;
    border: 1px solid #c4581d;
    border-radius: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.signup-form {
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 20px;
    text-align: center;
}

#wc {
    color: #c4581d;
    margin-top: 5px;
    margin-bottom: 5px;
}

#area {
    color: #c4581d;
    margin-top: 5px;
    margin-bottom: 5px;
}

#submit {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* footer */

.social {
    background-color: #c4581d;
    color: white;
    width: 100%;
    height: 10px;
    position: fixed;
    padding: 0.4em;
    text-align: center;
    bottom: 0;
    right: 0;
}

/* Media Queries */

@media screen and (max-width: 600px) {
    .packing-circles {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
}