@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap');

* {
    margin: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: Barlow, sans-serif;
    font-weight: 100;
    color: #da6220;
}

body h1 {
    text-transform: uppercase;
}

h2 {
    text-transform: uppercase;
}

/* Nav bar & logo */

header a {
    text-decoration: none;
    color: #da6220;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    text-decoration: none;
    color: #da6220;
}

#menu li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    flex-direction: row;
    padding-bottom: 10px;
}

#menu a {
    text-decoration: none;
    color: #da6220;
}

#menu a:hover {
    border-bottom: 1px dotted #da6220;
}

/* Hero Image */

#hero-image {
    height: 300px;
    width: 100%;
    background: url('../images/homepage-hero.png') no-repeat center center;
}

/*  Suggested walks boxes homepage */

#suggested-walk-heading {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;

}

#suggested-walks-home {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    flex-wrap: wrap;
}

.suggested-walks-box {
    height: 100px;
    width: 100px;
    border-radius: 30px;
    background-color: #da6220;
    padding: 10px 10px 10px 10px;
    text-align: center;
    clear: both;
    justify-content: center;
    align-items: center;
}

.center-box {
    display: flex;
    justify-content: center;
}

#highlands-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 10px;
}


#trossachs-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 10px;
}

#borders-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 10px;
}

#cairngorms-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 10px;
}

/* About Section */

#about {
    display: flex;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
}

.about-section {
    display: flex;
    justify-content: center;
    font-size: medium;
    text-align: center;
    margin-left: 60px;
    margin-right: 60px;
}

#about-image {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

/* What to Pack Homepage */

#wild-camping-home {
    display: flex;
    justify-content: flex-start;
    text-transform: uppercase;
    margin: 20px 20px 20px 60px;
}

#day-trip-home {
    display: flex;
    justify-content: flex-end;
    text-transform: uppercase;
    margin: 20px 60px 20px 20px;
}

#wild-camp-img {
    display: block;
    height: 300px;
    width: 300px;
    border-radius: 100%;
    background-color: #da6220;
    padding: 10px 10px 10px 10px;
    clear: both;
}

#day-trip-img {
    display: inline-block;
    height: 300px;
    width: 300px;
    border-radius: 100%;
    background-color: #da6220;
    padding: 10px 10px 10px 10px;
    clear: both;
}

#packing {
    width: 100%;
    display: flex;
    padding: 40px 50px;
}

.packing-circles {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
}

#wild-camp-heading {
    margin: 20px;
    text-align: center;
}

#day-trip-heading {
    margin: 20px;
    text-align: center;
}

/*  Suggested Walks Page */

#hero-image-walks {
    height: 300px;
    width: 100%;
    background: url('../images/suggested-walks-hero.png') no-repeat center center;
}

#walk-about-section {
    margin-left: 30px;
    margin-top: 10px;
}

/*  What to pack page */

#hero-image-pack {
    height: 300px;
    width: 100%;
    background: url('../images/suggested-walks-hero.png') no-repeat center center;
}

#wild-camping-checklist {
    display: flex;
    flex-direction: column;
}

/* Media Queries */

@media screen and (max-width: 600px) {
    .packing-circles {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
}