@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Barlow, sans-serif;
    font-weight: 100;
    color: #da6220;
}

body h1 {
    text-transform: uppercase;
}

/* Nav bar & logo */

header a {
    text-decoration: none;
    color: #da6220;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    text-decoration: none;
    color: #da6220;
}

#menu li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    flex-direction: row;
    padding-bottom: 10px;
}

#menu a {
    text-decoration: none;
    color: #da6220;
}

#menu a:hover {
    border-bottom: 1px dotted #da6220;
}

/* Hero Image */

#hero-image {
    height: 300px;
    width: 100%;
    background: url('../images/hero-image-2.png') no-repeat center center;
}

/*  Suggested walks boxes homepage */

#suggested-walk-heading {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;

}

#suggested-walks-home {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
    text-align: center;
    padding-top: 20px;
}

.suggested-walks-box {
    height: 100px;
    width: 100px;
    border-radius: 30px;
    background-color: #da6220;
    padding: 10px 10px 10px 10px;
    margin-left: 40px;
    text-align: center;
}

/* About Section */

#about {
    display: flex;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
}

.about-section {
    display: flex;
    justify-content: center;
    font-size: medium;
    text-align: center;
}

#about-image {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

/* What to Pack Homepage */

#wild-camping-home {
    display: flex;
    justify-content: flex-start;
    text-transform: uppercase;
}

#day-trip-home {
    display: flex;
    justify-content: flex-end;
    text-transform: uppercase;
}